body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
}

.title {
  box-sizing: border-box;
  width: 400px;
  background: #e3f4ff;
  margin: 10px auto;
  padding: 10px;
}

.content {
  box-sizing: border-box;
  width: 400px;
  background: #e3f4ff;
  margin: 10px auto;
  padding: 10px;
}

.button-container {
  box-sizing: border-box;
  width: 400px;
  display: block;
  background: #e3f4ff;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  font-size: 24px;
  margin: auto;
  
}